AuthUserFile /link/to/.htpasswd
AuthType Basic
AuthName "Groot Nationaal Onderzoek Admin Panel"
Require valid-user

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php
