<div id='share'>

    <a href='http://www.facebook.com/sharer/sharer.php?u=http://gno.mpi.nl/' target="_blank" id='facebook'></a>

    <a ng-href="http://www.twitter.com/share?url=http://gno.mpi.nl/&text=Mijn synesthesie score is {{percentage}} volgens het Groot Nationaal Onderzoek! Hoe goed doe jij het? #GNO2015" target="_blank" id='twitter'></a><Br>

        <label>Ben je synestheet en wil je aan meer onderzoeken meedoen? Ga dan naar de websites van <a href='http://www.xyz.nl' target='_blank'>Tessa van Leeuwen</a> en <a href='http://www.mpi.nl/synaesthesia' target='_blank'>Language &amp; Genetics</a>.
        </label>

</div>
